

body {
background-color: #000000;
font-family: "Poppins", sans-serif;
margin: 0;
}

.card-text{
    color: rgb(53, 20, 143);
}

.card {
  border-radius: 2rem;
  padding-top: 1px;
  background-color: rgb(102, 101, 136);
  padding-bottom: 20px;
  width: 320px;
  margin: 2rem 1rem;
  
  
}



.reviewBtn {
  height: 30px;
  width: 200px;
  margin-top: 20px;
}

.card-title {
  color:#000000
}
